body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h2{
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.consent {
    display: flex;
    align-items: center;
}

.consent label {
    margin-left: 5px;
}
